.yoac-blue {
  color: #204486; }

.yoac-blue-light {
  color: #c9fdfa; }

.yoac-teal {
  color: #72bbb6; }

.yoac-yellow {
  color: #efce20; }

.yoac-green {
  color: #667431; }

.yoac-rose {
  color: #9d1a38; }

.yoac-peach {
  color: #df6660; }

.yoac-purple {
  color: #f8aefe; }

.yoac-white-blue {
  color: #eaffff; }

.yoac-tan {
  color: #ecdfa4; }

.yoac-neon {
  color: #76fea7; }

.yoac-pumpkin {
  color: #f5ac5a; }

.yoac-pumpkin-dark {
  color: #9a5600; }
