
/*overlay styling*/
/*
.container {
  position: relative;
  width: 50%;
}*/

.resumap-text {
  font-size: 1rem;
}

.header-title {
  color:white;
  font-family: 'Raleway', sans-serif; 
  font-size: 2rem;
}

.portfolio-description {
  color: grey;
  font-size: 1.5rem;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  left: 0;
  right:0;
  top:0;
  background: rgb(0, 0, 0);
  background: rgba(255,255,255, 0.6); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}
.scone:hover .overlay {
  opacity: 1;
}


.portfolio-category {
  background: #2b8e94;
  color: white;
  padding: 2%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.line {
  text-decoration: line-through;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*end overlay styling*/


i
{

    margin: 1%;
}

html, body {
  height: 100%;
}


.footer {
  text-align: center;
  font-size: 18pt;
  width:100%;
  padding: 10px;
}

/*//change home page images on hover*/

/*<img src="LibraryTransparent.png" id="letstalk">*/
#letstalk {

}

#letstalk:hover {
    background-image: url('assets/letstalkhover.png');

}

.nitratedropdown {
margin-left: 20%;
padding: 20px;
}

#mapimage {
  height: 300px;
}

/***** NAVBAR *****/
.navbar-default {
  background-color: #f9b9b1;
  border-radius: 0;
  background-image: none;
  font-family: 'Raleway', sans-serif;

}

/* Navbar title */
.navbar-default .navbar-brand {
  color: #F3F9D2;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;

}

.navbar-brand img {
  height: 3rem;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2b8e94;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #2b8e94;
  color: #CBEAA6;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
  width: 95%;
  border: 3pt pink;
}

.portfolio-thumbnail:hover {
  box-shadow: 5px 5px 5px #ccc;
  border-width: 3px;

}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#aboutme {
  max-height: 400px;
}

.resume h3 {
  font-weight: bold;
  color: #3D0B37;
}

hr {
  border-color: white;
  border-width: 4px;
}

p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #3D0B37;
}

a {
  color: #3ac2a1;
}
s
a:hover {
  color: #2b8e94;
}

.jumbotron {
  background-image: url("../assets/header.PNG");
  text-align: center;
  color: #fff;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

body {
  padding-top: 50px;
  font-family: 'Georgia', serif;
  background-color: white;
  color: #242424;
}
