{
  "name": "natalee-desotell-portfolio",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/aboutme.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/aboutme.PNG\",\"size\":9791,\"initialSize\":9791,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "stylebasic.css",
      "configJson": "{\"compiler-css\":{\"path\":\"stylebasic.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"stylebasic-dist.css\"}"
    },
    {
      "path": "css/bootstrap-theme.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/bootstrap-theme.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/bootstrap-theme-dist.css\"}"
    },
    {
      "path": "css/bootstrap-theme.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/bootstrap-theme.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/bootstrap-theme.min-dist.css\"}"
    },
    {
      "path": "css/bootstrap.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/bootstrap.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/bootstrap-dist.css\"}"
    },
    {
      "path": "css/bootstrap.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/bootstrap.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/bootstrap.min-dist.css\"}"
    },
    {
      "path": "css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/style-dist.css\"}"
    },
    {
      "path": "css/stylebasic.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/stylebasic.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/stylebasic-dist.css\"}"
    },
    {
      "path": "lib/bootstrap.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/bootstrap.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/bootstrap-dist.js\"}"
    },
    {
      "path": "lib/bootstrap.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/bootstrap.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/bootstrap.min-dist.js\"}"
    },
    {
      "path": "lib/jquery-1.11.3.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/jquery-1.11.3.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/jquery-1.11.3-dist.js\"}"
    },
    {
      "path": "lib/npm.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/npm.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/npm-dist.js\"}"
    },
    {
      "path": "assets/contour-lines.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/contour-lines.png\",\"size\":88953,\"initialSize\":88953,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/applemap.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/applemap.png\",\"size\":316451,\"initialSize\":316451,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/ruralitymap.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/ruralitymap.PNG\",\"size\":449687,\"initialSize\":449687,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/india-bike.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/india-bike.png\",\"size\":13834774,\"initialSize\":13834774,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/fentanyl.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/fentanyl.png\",\"size\":539487,\"initialSize\":539487,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/contact.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/contact.png\",\"size\":3077,\"initialSize\":3077,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/me.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/me.PNG\",\"size\":7526,\"initialSize\":7526,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/letstalk.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/letstalk.png\",\"size\":5918,\"initialSize\":5918,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/letstalkhover.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/letstalkhover.png\",\"size\":6007,\"initialSize\":6007,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/current.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/current.png\",\"size\":5590,\"initialSize\":5590,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/writing.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/writing.png\",\"size\":3464,\"initialSize\":3464,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/resume.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/resume.png\",\"size\":3721,\"initialSize\":3721,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/us.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/us.png\",\"size\":8949,\"initialSize\":8949,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/aboutme-photo.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/aboutme-photo.PNG\",\"size\":3258456,\"initialSize\":3258456,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/beeminder.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/beeminder.PNG\",\"size\":455619,\"initialSize\":455619,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/first-conference.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/first-conference.PNG\",\"size\":378210,\"initialSize\":378210,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/four-reasons-cartography.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/four-reasons-cartography.PNG\",\"size\":579794,\"initialSize\":579794,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/grad-app.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/grad-app.PNG\",\"size\":392624,\"initialSize\":392624,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/heroin.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/heroin.PNG\",\"size\":505951,\"initialSize\":505951,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/g20/live-with-less.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/g20/live-with-less.PNG\",\"size\":720632,\"initialSize\":720632,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/india-bike-thumb.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/india-bike-thumb.PNG\",\"size\":431197,\"initialSize\":431197,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/applemap-thumb.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/applemap-thumb.png\",\"size\":20820,\"initialSize\":20820,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/fentanyl-thumb.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/fentanyl-thumb.png\",\"size\":133738,\"initialSize\":133738,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/icon files/palette1.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/icon files/palette1.PNG\",\"size\":54918,\"initialSize\":54918,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/icon files/palette2.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/icon files/palette2.PNG\",\"size\":56148,\"initialSize\":56148,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/rurality-thumb.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/rurality-thumb.png\",\"size\":115799,\"initialSize\":115799,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/warr-thumb.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/warr-thumb.PNG\",\"size\":88172,\"initialSize\":88172,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/heroin-thumb.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/heroin-thumb.png\",\"size\":236781,\"initialSize\":236781,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/heroin.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/heroin.PNG\",\"size\":104212,\"initialSize\":104212,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}